.text {
    font-family: 'Times New Roman', Times, serif;
}

* {
    font-family: 'poppins-light';
}

.bolder {
  font-family: 'poppins-regular';
}

p {
  font-size: 15px;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}


.bg-purple {
  background-color: #6f42c1;
}


.a {
  color: inherit;
  text-decoration: none;
}

.a {
  background:
    linear-gradient(
      to right,
      #ffffff2d,
      #ffffff2d
    ),
    linear-gradient(
      to right,
      rgb(125, 233, 252),
      rgb(34, 250, 250),
      rgb(0, 186, 211)
  );
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.a:hover {
  background-size: 0 2px, 100% 2px;
}
